@font-face {
    font-family: 'BeVietnam';
    src: url('../assets/fonts/BeVietnam-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'BeVietnamBold';
    src: url('../assets/fonts/BeVietnam-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../assets/fonts/MyriadPro-Regular.woff2') format('woff2');
}

* {
    margin: 0;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.logo {
    width: 11vw;
    margin: 1vw;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #fe5b02;
    font-family: "BeVietnamBold";
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 41vw;
    border-radius: 10px;
    background-color: #f6f6f7;
    margin-bottom: 5em;
}

.title2 {
    color: #000;
    font-family: "BeVietnamBold";
    font-weight: bold;
    text-align: left;
    margin-top: .7em;
    margin-bottom: .7em;
    width: 31vw;
}

.division {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #c4c4c4;
    width: 31vw;
}

.subTitle2 {
    font-family: "MyriadPro";
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    margin-top: .7em;
    margin-bottom: .7em;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 31vw;
    border-radius: 10px;
    background-color: #fffcfc;
    margin-bottom: 1em;
}

.titleContainer2 {
    color: #000;
    font-family: "BeVietnamBold";
    font-weight: bold;
    text-align: left;
    width: 29vw;
    margin-left: .7em;
    margin-top: .7em;
    margin-bottom: .7em;
}

.rowInfo {
    color: #000;
    font-family: "BeVietnamBold";
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    width: 29vw;
    margin-left: 1.1em;
    margin-bottom: .5em;
    
}

.rowInfoValue {
    color: #000;
    font-family: "BeVietnam";
    font-weight: normal;
    font-size: 1.1em;
    text-align: left;
}

.alignRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alignRightValue {
    margin-right: 1em;
}

.button {
    width: 31vw;
    color: #fff;
    background-color: #fe5b02;
    font-family: "BeVietnamBold";
    font-weight: bold;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.textButton {
    text-align: center;
    margin-bottom: .3em;
    font-size: 20px;
}

.footer {
    border: 0px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    padding: 1em 0 1em 0;
}

.footerItem {
    width: 19vw;
    display: flex;
    flex-direction: column;
}

.footerItemImg {
    width: 100%;
}

.footerItemCopyright {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footerItemImgCopyright {
    width: 13%;
}

.copyright {
    color: #fff;
    font-size: .7em;
    text-align: center;
    margin-top: .3em;
    font-family: "BeVietnam";
}

@media only screen and (max-width: 500px) {
    .logo {
        width: 19vw;
        margin: 2vw;
    }

    /* .title {
        font-size: 1.3em;
    } */

    .container {
        width: 71vw;
    }

    .title2 {
        font-size: .9em;
        width: 61vw;
    }

    .division {
        width: 61vw;
    }

    .subTitle2 {
        font-size: .7em;
        width: 61vw;
    }

    .container2 {
        width: 61vw;
    }

    .titleContainer2 {
        font-size: .9em;
        width: 59vw;
        margin-left: .7em;
    }

    .rowInfo {
        font-size: .7em;
        width: 59vw;
        margin-left: 1.1em;
    }

    .rowInfoValue {
        font-size: .9em;
    }

    .alignRightValue {
        margin-right: 1em;
        font-size: .9em;
    }

    .button {
        width: 61vw;
    }

    /* .textButton {
        font-size: .9em;
    } */

    .footerItem {
        width: 29vw;
    }

    .copyright {
        color: #fff;
        font-size: .3em;
    }

    .footerItemImgCopyright {
        width: 23%;
    }

}

@media only screen and (max-width: 1000px) {
    .logo {
        width: 19vw;
        margin: 2vw;
    }

    /* .title {
        font-size: 1.3em;
    } */

    .container {
        width: 61vw;
    }

    .title2 {
        font-size: .9em;
        width: 51vw;
    }

    .division {
        width: 51vw;
    }

    .subTitle2 {
        font-size: .7em;
        width: 51vw;
    }

    .container2 {
        width: 51vw;
    }

    .titleContainer2 {
        font-size: .9em;
        width: 49vw;
        margin-left: .7em;
    }

    .rowInfo {
        font-size: .7em;
        width: 49vw;
        margin-left: 1.1em;
    }

    .rowInfoValue {
        font-size: .9em;
    }

    .alignRightValue {
        margin-right: 1em;
    }

    .button {
        width: 51vw;
    }

    /* .textButton {
        font-size: .9em;
    } */

    .footerItem {
        width: 29vw;
    }

    .copyright {
        color: #fff;
        font-size: .7em;
    }

    .footerItemImgCopyright {
        width: 13%;
    }

}

@media only screen and (max-width: 1000px) {
    .logo {
        width: 19vw;
        margin: 2vw;
    }

    /* .title {
        font-size: 1.3em;
    } */

    .container {
        width: 51vw;
    }

    .title2 {
        font-size: .9em;
        width: 41vw;
    }

    .division {
        width: 41vw;
    }

    .subTitle2 {
        font-size: .7em;
        width: 41vw;
    }

    .container2 {
        width: 41vw;
    }

    .titleContainer2 {
        font-size: .9em;
        width: 39vw;
        margin-left: .7em;
    }

    .rowInfo {
        font-size: .7em;
        width: 39vw;
        margin-left: 1.1em;
    }

    .rowInfoValue {
        font-size: .9em;
    }

    .alignRightValue {
        margin-right: 1em;
    }

    .button {
        width: 41vw;
    }

    /* .textButton {
        font-size: .9em;
    } */

    .footerItem {
        width: 29vw;
    }

    .copyright {
        color: #fff;
        font-size: .7em;
    }

    .footerItemImgCopyright {
        width: 13%;
    }

}