.video-js .vjs-big-play-button{
    display: none;
}

.video-js .vjs-progress-control{
    width: 302px;
    height: 15px;
    opacity: 0.7;
    border-radius: 4px;
    background-color: #000000;
    color: rgba(254,91,2,1);
}

.video-js .vjs-load-progress div {
    background: #ffffff;
}

.video-js .vjs-play-progress:before, .video-js .vjs-volume-level:before, .vjs-icon-circle:before, .vjs-seek-to-live-control .vjs-icon-placeholder:before {
    content: " ";
}

.video-js .vjs-play-progress {
    background-color: rgba(254,91,2,1);
}

.video-js .vjs-load-progress {
    border-radius: 5px;
    background: #c4c4c4;
}

.video-js .vjs-control-bar{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vjs-time-control{
    display: none;
}

.video-js {
    color: #000000;
    border: solid 0 #ffffff;
    border-radius: 4px;
    background-color: #000000;
}

.button:focus {
    outline: 0px dotted;
    outline: none;
}

.video-js:focus{
    outline: none;
}

video:focus {
    outline: none !important;
}

button:focus{
    outline: none !important;
}

.vjs-control-bar .vjs-play-control{
  width: 32.7px;
  border-radius: 7px;
  background-color: #fe5b02;
}

.vjs-progress-control .vjs-control{
    height: 4px;
}