@font-face {
    font-family: 'BeVietnam-Bold';
    src: url('./assets/fonts/BeVietnam-Bold.ttf');
}
@font-face {
    font-family: 'MyriadPro';
    src: url('./assets/fonts/MyriadPro-Regular.otf');
}

.iwSUvz{
    width: 267.6px !important;
    max-width: 100% !important;
    border-radius: 0px !important;
}

.iJhIuy {
    font-family: 'BeVietnam-Regular' !important;
    font-size: 30px !important;
    font-weight: normal !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.05 !important;
    letter-spacing: normal !important;
    color: #000000 !important;
  }

  .csmOsp {
      position: fixed !important;
  }
  
  .Carousel-button-82 {
    top: 30px;
    color: black;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
    font-size: 30px;
    transition: 200ms;
    background-color: #ffff;
    border: solid 1px #a7a8aa;
}

.vjs-control-bar .vjs-play-control {
    width: 41px;
    border-radius: 95px;
    background-color: #fe5b02;
    bottom: .1rem;
    height: 18px;
    margin-left: 1rem;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before, .video-js .vjs-play-control .vjs-icon-placeholder:before, .vjs-icon-play:before {
    content: "\f101";
    font-size: 18px;
    top: -0.4rem
}


.sagicc-floating-button-bottom-right button{
    background-color: #fe5b02 !important;
}

#sagicc-chat-div {
    position: absolute !important;
    z-index: 21 !important;
}

@media only screen and (max-width: 600px) {
    .App {
        width: 89vw !important;
    }
}

.sagicc-chat-header.chat-app-bar {
    background-color: #fe5b02 !important;
}

.sagicc-chat-header.chat-app-bar h1 {
    background-color: #fe5b02 !important;
    font-family: 'BeVietnam-Bold' !important;
    line-height: 50px !important;
    height: 50px !important;
}

.sagicc-chat-initial-form.widget label, .sagicc-chat-initial-form.widget input, .sagicc-chat-initial-form.widget p, .sagicc-chat-initial-form.widget div {
    font-family: 'MyriadPro' !important;
}

.sagicc-chat-initial-form.widget label {
    font-size: 18px;
    color: #fe5b02 !important;
}
.sagicc-chat-initial-form.widget input { font-size: 20px !important; }
.sagicc-chat-initial-form.widget div { font-size: 20px !important; }

.start-button button {
    background-color: #fe5b02 !important;
}

.start-button button span {
    font-family: 'BeVietnam-Bold' !important;
}

.sagicc-chat-footer.widget {
    display: none !important;
}