@font-face {
  font-family: "BeVietnam-Regular";
  src: url("assets/fonts/BeVietnam-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "BeVietnam-Bold";
  src: url("assets/fonts/BeVietnam-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "BeVietnam-BoldItalic";
  src: url("assets/fonts/BeVietnam-BoldItalic.ttf") format("opentype");
}
@font-face {
  font-family: "BeVietnam-ExtraBold";
  src: url("assets/fonts/BeVietnam-ExtraBold.ttf") format("opentype");
}
@font-face {
  font-family: "BeVietnam-ExtraBoldItalic";
  src: url("assets/fonts/BeVietnam-ExtraBoldItalic.ttf") format("opentype");
}

body {
  margin: 0;
  font-family: "BeVietnam-Regular";
}

